.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.nickname, .aside-nickname {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nickname:hover, .aside-nickname:hover {
  color: #1682f6;
}
.nickname::selection, .aside-nickname::selection {
  color: #ffffff;
  background-color: #e0a609;
}

.aside-nickname {
  margin-left: 16px;
}

.aside {
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 240px;
  height: 100%;
  padding-top: 65px;
  overflow: hidden;
}
.aside__top {
  flex-grow: 1;
  background-color: #e8e8e8;
  overflow: auto;
}
.aside__top::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #9e9999;
}
.aside__top::-webkit-scrollbar {
  width: 0;
}
.aside__top:hover::-webkit-scrollbar {
  width: 8px;
}
.aside__list {
  width: 100%;
  overflow: hidden;
}
.aside__item {
  display: flex;
  align-items: center;
  width: 240px;
  min-height: 65px;
  padding: 0 16px;
  font-size: 16px;
  cursor: pointer;
}
.aside__item:hover {
  background-color: #dadada;
}
.aside__item-streamer {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: auto;
}
.aside__item-streamer--live {
  padding-left: 18px;
}
.aside__item-streamer--live .aside__item-live {
  display: block;
}
.aside__item-live {
  position: absolute;
  left: 0;
  top: 50%;
  display: none;
  width: 8px;
  height: 8px;
  transform: translate(50%, -50%);
}
.aside__bottom {
  display: flex;
  min-height: 145px;
  padding: 14px;
  background-color: #e8e8e8;
  border-top: 2.5px solid #ffffff;
}
.aside__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 16px 16px 18px;
  background-color: #dadada;
  border-radius: 5px;
  overflow: hidden;
}
.aside__info-title {
  text-align: center;
  font-size: 16px;
}
.aside__info-title::selection {
  color: #ffffff;
  background-color: #e0a609;
}
.aside__info-social-media {
  display: flex;
  justify-content: space-evenly;
}
.aside__info-link {
  transition: 250ms all ease-in-out;
}
.aside__info-link:hover {
  color: #1682f6;
}
.aside__info-link svg {
  width: 25px;
  height: 25px;
}

.pulse-circle {
  position: absolute;
  width: 8px;
  height: 8px;
}
.pulse-circle:before {
  content: "";
  width: 200%;
  height: 200%;
  box-sizing: border-box;
  margin-left: -50%;
  margin-top: -50%;
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: #e91410;
  animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
.pulse-circle:after {
  left: 0;
  top: 0;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.32);
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes pulse-dot {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

/*# sourceMappingURL=aside.css.map */
