.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  min-height: 100px;
  padding: 14px;
}
.footer__description::selection {
  color: #ffffff;
  background-color: #e0a609;
}
.footer__media {
  display: block;
  margin-top: 5px;
  margin-left: 8px;
}
.footer__media img {
  display: inline;
  width: 24px;
  height: 24px;
}

/*# sourceMappingURL=footer.css.map */
