.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 0 16px;
  background-color: #fff;
  box-shadow: 3px 3px 8px 0 rgba(30, 60, 80, 0.2);
  z-index: 1;
}

.logo {
  font-size: 32px;
  font-family: "MuseoModerno", serif;
  font-weight: 500;
  color: #e0a609;
}
.logo img {
  display: inline;
  width: 40px;
  height: 40px;
  vertical-align: -15%;
}

.search__form {
  display: flex;
  align-items: flex-end;
}
.search__container {
  position: relative;
  padding-right: 30px;
}
.search__input {
  max-width: 445px;
  width: 36vw;
  height: 32px;
  padding: 0 12px;
  border: 1px solid #9e9999;
  border-radius: 4px 0 0 4px;
  outline: none;
}
.search__input:focus {
  border: 2px solid #027bff;
}
.search__search-button {
  width: 30px;
  height: 32px;
  position: absolute;
  background-color: #e8e8e8;
  border: 1px solid #9e9999;
  border-radius: 0 4px 4px 0;
  border-left: none;
  cursor: pointer;
}
.search__search-button:hover {
  background-color: #dadada;
}
.search__search-button img {
  display: inline;
  margin-top: 3px;
  width: 16px;
  height: 16px;
}
.search__microphone-button {
  margin-left: 4px;
  padding: 1px 4px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.search__microphone-button img {
  display: inline;
  width: 20px;
  height: 26px;
}

.menu {
  display: flex;
}
.menu__notification {
  margin-right: 14px;
  margin-top: 10px;
  color: #adadad;
}
.menu__notification img {
  display: inline;
  width: 24px;
  height: 24px;
}
.menu__container {
  padding: 4px;
  position: relative;
  cursor: pointer;
}
.menu__container:hover {
  color: #757575;
}
.menu__container:hover .menu__button {
  background-color: #dadada;
}
.menu__container:hover .menu__list {
  display: block;
}
.menu__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #e0a609;
  border-radius: 50%;
  transition: 250ms all ease-in-out;
}
.menu__button img {
  display: inline;
  width: 20px;
  height: 20px;
}
.menu__list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  font-family: sans-serif;
  background-color: #ffffff;
  border: 1px solid #dadada;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0 rgba(35, 60, 80, 0.2);
}
.menu__item-choice {
  display: flex;
  align-items: center;
  min-width: 160px;
  height: 35px;
  padding: 0 16px;
  font-weight: bold;
}
.menu__item-choice img {
  width: 16px;
  height: 16px;
  align-self: flex-start;
  margin-top: 8px;
  display: inline;
}
.menu__item-choice span {
  margin-left: 10px;
  text-transform: capitalize;
}
.menu__item-choice:hover {
  background-color: #e8e8e8;
}
.menu__item-log-out {
  border-top: 1px solid #9e9999;
  color: red;
}

/*# sourceMappingURL=header.css.map */
