.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.nickname, .card-nickname {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nickname:hover, .card-nickname:hover {
  color: #1682f6;
}
.nickname::selection, .card-nickname::selection {
  color: #ffffff;
  background-color: #e0a609;
}

body {
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
}

.svg_elements {
  display: none;
}

.main {
  width: 100%;
  max-height: calc(100vh - 65px);
  margin-top: 65px;
  padding-left: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
}
.main::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #9e9999;
}
.main::-webkit-scrollbar {
  width: 0;
}
.main:hover::-webkit-scrollbar {
  width: 8px;
}
.main__container {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 240px);
  min-height: calc(100vh - 65px);
}
.main__container-top {
  height: 65px;
  padding: 0 14px;
  overflow-y: hidden;
}

.tags {
  display: flex;
  max-width: 100%;
  padding: 16px 0;
  overflow-x: auto;
}
.tags::-webkit-scrollbar {
  width: 0;
}

.tag {
  line-height: 32px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 16px;
  background-color: #e8e8e8;
  transition: 250ms all ease-in-out;
}
.tag + .tag {
  margin-left: 15px;
}
.tag:not(.tag--active) {
  border: 1px solid #9e9999;
}
.tag:hover:not(.tag--active) {
  background-color: #9e9999;
  border-color: #757575;
}
.tag:first-child {
  color: #ffffff;
  background-color: #e0a609;
}

.media-content {
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  column-gap: 10px;
  row-gap: 15px;
}

.preview-image {
  position: relative;
  font-family: "Comic Sans MS", Helvetica, Arial, sans-serif;
}
.preview-image:hover .preview-image__hover-effect {
  opacity: 1;
}
.preview-image__live {
  position: absolute;
  left: 6px;
  top: 6px;
  padding: 0 5px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
  background-color: red;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.preview-image__info {
  right: 5px;
  bottom: 5px;
  position: absolute;
  padding: 0 6px;
  font-size: 12px;
  line-height: 22px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.preview-image--live .preview-image__live {
  display: block;
}
.preview-image__hover-effect {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 250ms all ease-in-out;
}
.preview-image__picture {
  width: 100%;
}
.preview-image__enter {
  padding: 4px;
  display: block;
  color: #e8e8e8;
  cursor: pointer;
}
.preview-image__enter svg {
  transition: 250ms all ease-in-out;
  width: 32px;
  height: 32px;
}
.preview-image__enter svg:hover {
  transition: 250ms all ease-in-out;
  color: #e0a609;
  transform: rotate(45deg);
}

.author {
  min-height: 55px;
  display: flex;
  align-items: center;
}
.author__info {
  flex-grow: 1;
  max-width: calc(100% - 48px);
  margin-left: 16px;
}
.author__title {
  display: block;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.author__title::selection {
  color: #ffffff;
  background-color: #e0a609;
}
.author__title:hover {
  color: #027bff;
}

.card-nickname {
  color: #757575;
  font-size: 12px;
}

.card {
  min-width: 265px;
}
.card__description {
  position: relative;
  padding-right: 40px;
}
.card__menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.card__menu-button {
  display: flex;
  width: 32px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.card__menu-button img {
  width: 18px;
  height: 18px;
}

@media (max-width: 1200px) {
  .aside {
    width: 64px;
  }
  .aside__bottom {
    display: none;
  }

  .main {
    padding-left: 64px;
  }
  .main__container {
    width: calc(100vw - 64px);
  }
}
@media (max-width: 650px) {
  .logo__name {
    display: none;
  }
}
@media (max-width: 350px) {
  .menu__notification {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
