@import "constants";

@mixin custom-scroll {
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $border-color;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &:hover::-webkit-scrollbar {
    width: 8px;
  }
}
