@media (max-width: 1200px) {
  .aside {
    width: 64px;
    &__bottom {
      display: none;
    }
  }

  .main {
    padding-left: 64px;
    &__container {
      width: calc(100vw - 64px);
    }
  }
}

@media (max-width: 650px) {
  .logo {
    &__name {
      display: none;
    }
  }
}

@media (max-width: 350px) {
  .menu {
    &__notification {
      display: none;
    }
  }
}
