@import "constants";

.nickname {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    color: #1682f6;
  }
  &::selection {
    color: #ffffff;
    background-color: $tv-color-theme;
  }
}
