@import "custom-scroll";
@import "avatar";
@import "nickname";

.aside-nickname{
  @extend .nickname;
  margin-left: 16px;
}

.aside{
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 240px;
  height: 100%;
  padding-top: 65px;
  overflow: hidden;
  &__top {
    flex-grow: 1;
    background-color: $background-color;
    overflow: auto;
    @include custom-scroll;
  }
  &__list {
    width: 100%;
    overflow: hidden;
  }
  &__item {
    display: flex;
    align-items: center;
    width: 240px;
    min-height: 65px;
    padding: 0 16px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: #dadada;
    }
    &-streamer {
      display: flex;
      position: relative;
      align-items: center;
      margin-left: auto;
      &--live {
        padding-left: 18px;
        .aside__item-live {
          display: block;
        }
      }
    }
    &-live {
      position: absolute;
      left: 0;
      top: 50%;
      display: none;
      width: 8px;
      height: 8px;
      transform: translate(50%, -50%);
    }
  }
  &__bottom{
    display: flex;
    min-height: 145px;
    padding: 14px;
    background-color: $background-color;
    border-top: 2.5px solid #ffffff;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 16px 16px 18px;
    background-color: rgba(218, 218, 218);
    border-radius: 5px;
    overflow: hidden;
    &-title {
      text-align: center;
      font-size: 16px;
      &::selection {
        color: #ffffff;
        background-color: $tv-color-theme;
      }
    }
    &-social-media {
      display: flex;
      justify-content: space-evenly;
    }
    &-link {
      transition: 250ms all ease-in-out;
      &:hover {
        color: #1682f6;
      }
      svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.pulse-circle {
  position: absolute;
  width: 8px;
  height: 8px;

  &:before {
    content: '';
    width: 200%;
    height: 200%;
    box-sizing: border-box;
    margin-left: -50%;
    margin-top: -50%;
    position: relative;
    display: block;
    border-radius: 50%;
    background-color: #e91410;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    left: 0;
    top: 0;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.32);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}
