@import "constants";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  min-height: 100px;
  padding: 14px;
  &__description {
    &::selection {
      color: #ffffff;
      background-color: $tv-color-theme;
    }
  }
  &__media {
    display: block;
    margin-top: 5px;
    margin-left: 8px;
    img {
      display: inline;
      width: 24px;
      height: 24px;
    }
  }
}
