@import 'constants';

.header{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  padding: 0 16px;
  background-color: #fff;
  box-shadow: 3px 3px 8px 0 rgba(30, 60, 80, 0.2);
  z-index: 1;
}

.logo {
  font-size: 32px;
  font-family: 'MuseoModerno', serif;
  font-weight: 500;
  color: $tv-color-theme;
  img {
    display: inline;
    width: 40px;
    height: 40px;
    vertical-align: -15%;
  }
}

.search {
  &__form {
    display: flex;
    align-items: flex-end;
  }
  &__container {
    position: relative;
    padding-right: 30px;
  }
  &__input {
    max-width: 445px;
    width: 36vw;
    height: 32px;
    padding: 0 12px;
    border: 1px solid $border-color;
    border-radius: 4px 0 0 4px;
    outline: none;
    &:focus {
      border: 2px solid #027bff;
    }
  }
  &__search-button {
    width: 30px;
    height: 32px;
    position: absolute;
    background-color: #e8e8e8;
    border: 1px solid $border-color;
    border-radius: 0 4px 4px 0;
    border-left: none;
    cursor: pointer;
    &:hover {
      background-color: #dadada;
    }
    img {
      display: inline;
      margin-top: 3px;
      width: 16px;
      height: 16px;
    }
  }
  &__microphone-button {
    margin-left: 4px;
    padding: 1px 4px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    img {
      display: inline;
      width: 20px;
      height: 26px;
    }
  }
}

.menu{
  display: flex;
  &__notification {
    margin-right: 14px;
    margin-top: 10px;
    color: #adadad;
    img {
      display: inline;
      width: 24px;
      height: 24px;
    }
  }
  &__container {
    padding: 4px;
    position: relative;
    cursor: pointer;
    &:hover {
      color: #757575;
    }
    &:hover {
      .menu__button {
        background-color: #dadada;
      }
      .menu__list {
        display: block;
      }
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: $tv-color-theme;
    border-radius: 50%;
    transition: 250ms all ease-in-out;
    img {
      display: inline;
      width: 20px;
      height: 20px;
    }
  }
  &__list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    font-family: sans-serif;
    background-color: #ffffff;
    border: 1px solid #dadada;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 0 rgba(35, 60, 80, 0.2);
  }
  &__item {
    &-choice {
      display: flex;
      align-items: center;
      min-width: 160px;
      height: 35px;
      padding: 0 16px;
      font-weight: bold;
      img {
        width: 16px;
        height: 16px;
        align-self: flex-start;
        margin-top: 8px;
        display: inline;
      }
      span {
        margin-left: 10px;
        text-transform: capitalize;
      }
      &:hover {
        background-color: #e8e8e8;
      }
    }
    &-log-out {
      border-top: 1px solid $border-color;
      color: red;
    }
  }
}
