@import "constants";
@import "custom-scroll";
@import "avatar";
@import "nickname";

body {
  font-family: $tv-main-font;
  font-size: 14px;
  overflow: hidden;
}

.main {
  width: 100%;
  max-height: calc(100vh - 65px);
  margin-top: 65px;
  padding-left: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  @include custom-scroll;
  &__container{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 240px);
    min-height: calc(100vh - 65px);
    &-top{
      height: 65px;
      padding: 0 14px;
      overflow-y: hidden;
    }
  }
}

.tags{
  display: flex;
  max-width: 100%;
  padding: 16px 0;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.tag{
  line-height: 32px;
  padding: 0 16px;
  font-size: 16px;
  border-radius: 16px;
  background-color: $background-color;
  transition: 250ms all ease-in-out;
  & + & {
    margin-left: 15px;
  }
  &:not(.tag--active) {
    border: 1px solid $border-color;
  }
  &:hover:not(.tag--active) {
    background-color: $border-color;
    border-color: #757575;
  }
  &:first-child {
    color: #ffffff;
    background-color: $tv-color-theme;
  }
}

.media-content {
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  column-gap: 10px;
  row-gap: 15px;
}

.preview-image {
  position: relative;
  font-family: $tv-main-font;
  &:hover .preview-image__hover-effect {
    opacity: 1;
  }
  &__live {
    position: absolute;
    left: 6px;
    top: 6px;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 22px;
    color: #ffffff;
    background-color: red;
    cursor: pointer;
    z-index: 1;
    display: none;
  }
  &__info {
    right: 5px;
    bottom: 5px;
    position: absolute;
    padding: 0 6px;
    font-size: 12px;
    line-height: 22px;
    color: #ffffff;
    background-color: rgba(black, 0.7);
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  &--live .preview-image__live {
    display: block;
  }
  &__hover-effect {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);
    opacity: 0;
    transition: 250ms all ease-in-out;
  }
  &__picture {
    width: 100%;
  }
  &__enter {
    padding: 4px;
    display: block;
    color: $background-color;
    cursor: pointer;
    svg {
      &:hover{
        transition: 250ms all ease-in-out;
        color: $tv-color-theme;
        transform: rotate(45deg);
      }
      transition: 250ms all ease-in-out;
      width: 32px;
      height: 32px;
    }
  }
}

.author {
  min-height: 55px;
  display: flex;
  align-items: center;
  &__info {
    flex-grow: 1;
    max-width: calc(100% - 48px);
    margin-left: 16px;
  }
  &__title {
    display: block;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &::selection {
      color: #ffffff;
      background-color: $tv-color-theme;
    }
    &:hover {
      color: #027bff;
    }
  }
}

.card-nickname{
  @extend .nickname;
  color: #757575;
  font-size: 12px;
}

.card {
  min-width: 265px;
  &__description {
    position: relative;
    padding-right: 40px;
  }
  &__menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &-button {
      display: flex;
      width: 32px;
      height: 40px;
      justify-content: center;
      align-items: center;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

@import "media";
